# Maven
target/
pom.xml.tag
pom.xml.versionsBackup
dependency-reduced-pom.xml
# Individual code environment config
.vscode
.cursor
.idea
# Data folder
data/
# Dependency Reduced POM
dependency-reduced-pom.xml